* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 226);
}

.container {
    width: 1600px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.default img{
    display: inline-block;
    width: 32%;
    padding: 30px;
    position: relative;
}

.vista :hover{
    display: none;
    
}

.nascosta :hover{
    display: block;
}

